# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.ZombieLowPoly.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Another Zombie Shooter\UnityCollab\ZombieLowPoly\.idea\.idea.ZombieLowPoly\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
